<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="./public/assets/css/reset.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Font Awesome v5 -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	<link rel="stylesheet" href="./public/assets/css/style.css" type="text/css" />
	<title>MVC With Pied Piper</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="./public/assets/js/slideshow.js"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
	
</head>

<body>
	{{{ body }}}
</body>

</html>
