<div class="container">

    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
                <label for="uname" ><b>Username</b></label>
                <input type="text" id="userName" placeholder="Enter Username" name="uname" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button class="button" id="modalLoginBtn" type="submit">Login</button>
                <label>
                    <input type="checkbox" name="remember"> Remember me
                </label>
                <div id="reg-div">
                    <span class="newAccount">Don't have an Account?<a href="./registration">Sign up now!</a></span>
                </div>

            </div>
        </div>
    </div>

    <main>
        <div class="slide-container">
            <div class="slideshow">
                <img id="background" src="/assets/images/background.jpg" alt="guitar">
                <div class="images fade">
                    
                    </div>
                </div>
            </div>
        
    </main>

    <footer>


    </footer>

</div>