<div class="container">

        <header>
            <nav class="navBar">
                <form class="form">
                    <div class="search">
                        <a id="linkSearch" href="./index.html">PIED PIPER</a>
                        <input id="inputSearch" type="search" placeholder="Search by Title or Author">

                        <button class="button" id="searchBtn" type="submit"> Search </button>
                    </div>
                    <div class="user">
                        <div class="user2">
                            <a id="linkUser" href="cart.html">Cart</a>
                            <button onclick="document.getElementById('id01')" class="button" id="loginBtn" type="submit"> Login </button>

                            <div id="id01" class="modal">
                                <form class="modal-content animate">

                                    <div class="Modalcontainer">
                                        <label for="uname"><b>Username</b></label>
                                        <input type="text" placeholder="Enter Username">

                                        <label for="psw"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Password">

                                        <button type="submit">Login</button>
                                        <label>
                                            <input type="checkbox" checked="checked"> Remember me
                                        </label>
                                    </div>

                                    <div class="Modalcontainer" style="background-color:#f1f1f1">
                                        <button type="button"
                                            onclick="document.getElementById('id01').style.display='none'"
                                            class="cancelbtn">Cancel</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </form>
            </nav>
        </header>

        <main>
            <div class="slide-container">
                <div class="slideshow">
                    <img id="background" src="./images/background.jpg" alt="guitar">
                    <div class="images fade">
                        <img class="slideImage" src="./images/eminem.jpg" alt="eminem">
                        <div class="description">
                            <div> ARTIST: Eminem </div>
                            <div> SONG: Lose Yourself </div>
                            <div> DESCRIPTION: American Rap song by Eminem from the movie "8 Mile". It is based on
                                the struggles and life of Eminem, fighting underground rap battles and making it out
                                of it.</div>
                        </div>
                    </div>
                    <div class="images fade">
                        <img class="slideImage" src="./images/marron.jpg" alt="eminem">
                        <div class="description">
                            <div> ARTIST: Marron 5 </div>
                            <div> SONG: Girl Like You </div>
                            <div> DESCRIPTION: Another song Perfromed by American pop rock band Marron 5. This song
                                is about thanking the woman in his life and putting up with him through every
                                challenges.</div>
                        </div>
                    </div>
                    <div class="images fade">
                        <img class="slideImage" src="./images/imagine.jpg" alt="eminem">
                        <div class="description">
                            <div> ARTIST: Imagine Dragons </div>
                            <div> SONG: Natural </div>
                            <div> DESCRIPTION: This song is performed by American pop rock band Imagine Dragons. The
                                song is about being cold-hearted in this cold-world and how to fight through it.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table">
                <table id="music-table">
                    <thead>
                        <tr class="trHead">
                            <!-- <th class="th" id="th1" scope="col">Images</th> -->
                            <th class="th"  id="th1" scope="col">Song Title</th>
                            <th class="th" scope="col">Artist</th>
                            <th class="th" scope="col">Album</th>
                            <th class="th" scope="col">Last Fm</th>
                            <th class="th" scope="col">Youtube</th>
                        </tr>
                    </thead>

                    <tbody id="music-table-body"></tbody>

                </table>
            </div>

        </main>

        <footer>


        </footer>

    </div>
