<div class="container">

    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container">
                <label for="uname" ><b>Username</b></label>
                <input type="text" id="userName" placeholder="Enter Username" name="uname" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button class="button" id="modalLoginBtn" type="submit">Login</button>
                <label>
                    <input type="checkbox" name="remember"> Remember me
                </label>
                <div id="reg-div">
                    <span class="newAccount">Don't have an Account?<a href="./registration">Sign up now!</a></span>
                </div>

            </div>
        </div>
    </div>

    <main>
        <div class="slide-container">
            <div class="slideshow">
                <img id="background" src="/assets/images/background.jpg" alt="guitar">
                <div class="images fade">
                    <img class="slideImage" src="./assets/images/eminem.jpg" alt="eminem">
                    <div class="description">
                        <div> ARTIST: Eminem </div>
                        <div> SONG: Lose Yourself </div>
                        <div> DESCRIPTION: American Rap song by Eminem from the movie "8 Mile". It is based on
                            the struggles and life of Eminem, fighting underground rap battles and making it out
                            of it.</div>
                    </div>
                </div>
                <div class="images fade">
                    <img class="slideImage" src="./assets/images/marron.jpg" alt="eminem">
                    <div class="description">
                        <div> ARTIST: Marron 5 </div>
                        <div> SONG: Girl Like You </div>
                        <div> DESCRIPTION: Another song Perfromed by American pop rock band Marron 5. This song
                            is about thanking the woman in his life and putting up with him through every
                            challenges.</div>
                    </div>
                </div>
                <div class="images fade">
                    <img class="slideImage" src="./assets/images/imagine.jpg" alt="eminem">
                    <div class="description">
                        <div> ARTIST: Imagine Dragons </div>
                        <div> SONG: Natural </div>
                        <div> DESCRIPTION: This song is performed by American pop rock band Imagine Dragons. The
                            song is about being cold-hearted in this cold-world and how to fight through it.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table">
            <table id="music-table">
                <thead>
                    <tr class="trHead">
                        <!-- <th class="th" id="th1" scope="col">Images</th> -->
                        <th class="th" id="th1" scope="col">Song Title</th>
                        <th class="th" scope="col">Artist</th>
                        <th class="th" scope="col">Album</th>
                        <th class="th" scope="col">Last Fm</th>
                        <th class="th" scope="col">Youtube</th>
                        <th class="th" scope="col">Cart</th>
                    </tr>
                </thead>

                <tbody id="music-table-body"></tbody>

            </table>
        </div>

    </main>

    <footer>


    </footer>

</div>